@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Site>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Web.Optimization;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.Content.PageTitle</title>
    <meta name="description" content="@Model.Content.MetaDescription" />
    <meta name="keywords" content="@Model.Content.MetaKeywords" />
    <!-- Favicons (created with http://realfavicongenerator.net/)-->
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="shortcut icon" href="img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b334d">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.1.0/css/font-awesome.min.css">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" href="fonts/eleganticons/et-icons.css">
    @Styles.Render("~/bundles/all.css")
</head>
<body>
    <div class="preloader">
        <img src="img/loader.gif" alt="Preloader image">
    </div>
    <nav class="navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="img/logo.jpg" data-active-url="img/logo.jpg" alt="" style="width:50px"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-nav">
                    @foreach (var item in Model.Content.Menu)
                    {
                        var caption = item.Value<string>("caption");
                        var link = item.Value<string>("link");

                        <li><a href="@link">@caption</a></li>
                    }
                    <li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue">Заказать</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header id="intro">
        <div class="container">
            <div class="table">
                <div class="header-text">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="white typed">@Model.Content.Title</h1>
                            @*<span class="typed-cursor">|</span>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="products" class="section section-padded">
        <div class="cut cut-top"></div>
        <div class="container">
            <div class="row text-center title">
                <h2>Продукция</h2>
            </div>
            <div class="row intro-tables">
                <div class="col-md-4">
                    <div class="intro-table intro-table-first">
                        <h5 class="white heading">Today's Schedule</h5>
                        <div class="owl-carousel owl-schedule bottom">
                            <div class="item">
                                <div class="schedule-row row">
                                    <div class="col-xs-6">
                                        <h5 class="regular white">Early Exercise</h5>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <h5 class="white">8:30 - 10:00</h5>
                                    </div>
                                </div>
                                <div class="schedule-row row">
                                    <div class="col-xs-6">
                                        <h5 class="regular white">Muscle Building</h5>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <h5 class="white">8:30 - 10:00</h5>
                                    </div>
                                </div>
                                <div class="schedule-row row">
                                    <div class="col-xs-6">
                                        <h5 class="regular white">Cardio</h5>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <h5 class="white">8:30 - 10:00</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="schedule-row row">
                                    <div class="col-xs-6">
                                        <h5 class="regular white">Early Exercise</h5>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <h5 class="white">8:30 - 10:00</h5>
                                    </div>
                                </div>
                                <div class="schedule-row row">
                                    <div class="col-xs-6">
                                        <h5 class="regular white">Muscle Building</h5>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <h5 class="white">8:30 - 10:00</h5>
                                    </div>
                                </div>
                                <div class="schedule-row row">
                                    <div class="col-xs-6">
                                        <h5 class="regular white">Cardio</h5>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <h5 class="white">8:30 - 10:00</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="schedule-row row">
                                    <div class="col-xs-6">
                                        <h5 class="regular white">Early Exercise</h5>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <h5 class="white">8:30 - 10:00</h5>
                                    </div>
                                </div>
                                <div class="schedule-row row">
                                    <div class="col-xs-6">
                                        <h5 class="regular white">Muscle Building</h5>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <h5 class="white">8:30 - 10:00</h5>
                                    </div>
                                </div>
                                <div class="schedule-row row">
                                    <div class="col-xs-6">
                                        <h5 class="regular white">Cardio</h5>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <h5 class="white">8:30 - 10:00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-table intro-table-hover">
                        <h5 class="white heading hide-hover">Premium Membership</h5>
                        <div class="bottom">
                            <h4 class="white heading small-heading no-margin regular">Register Today</h4>
                            <h4 class="white heading small-pt">20% Discount</h4>
                            <a href="#" class="btn btn-white-fill expand">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-table intro-table-third">
                        <h5 class="white heading">Happy Clients</h5>
                        <div class="owl-testimonials bottom">
                            <div class="item">
                                <h4 class="white heading content">I couldn't be more happy with the results!</h4>
                                <h5 class="white heading light author">Adam Jordan</h5>
                            </div>
                            <div class="item">
                                <h4 class="white heading content">I can't believe how much better I feel!</h4>
                                <h5 class="white heading light author">Greg Pardon</h5>
                            </div>
                            <div class="item">
                                <h4 class="white heading content">Incredible transformation and I feel so healthy!</h4>
                                <h5 class="white heading light author">Christina Goldman</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing" class="section">
        <div class="container">
            <div class="row title text-center">
                <h2 class="margin-top white">Pricing</h2>
                <h4 class="light white">Choose your favorite pricing plan and sign up today!</h4>
            </div>
            <div class="row no-margin">
                <div class="col-md-7 no-padding col-md-offset-5 pricings text-center">
                    <div class="pricing">
                        <div class="box-main active" data-img="img/pricing1.jpg">
                            <h4 class="white">Yoga Pilates</h4>
                            <h4 class="white regular light">$850.00 <span class="small-font">/ year</span></h4>
                            <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Sign Up Now</a>
                            <i class="info-icon icon_question"></i>
                        </div>
                        <div class="box-second active">
                            <ul class="white-list text-left">
                                <li>One Personal Trainer</li>
                                <li>Big gym space for training</li>
                                <li>Free tools &amp; props</li>
                                <li>Free locker</li>
                                <li>Free before / after shower</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricing">
                        <div class="box-main" data-img="img/pricing2.jpg">
                            <h4 class="white">Cardio Training</h4>
                            <h4 class="white regular light">$100.00 <span class="small-font">/ year</span></h4>
                            <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Sign Up Now</a>
                            <i class="info-icon icon_question"></i>
                        </div>
                        <div class="box-second">
                            <ul class="white-list text-left">
                                <li>One Personal Trainer</li>
                                <li>Big gym space for training</li>
                                <li>Free tools &amp; props</li>
                                <li>Free locker</li>
                                <li>Free before / after shower</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="section section-padded">
        <div class="container">
            <div class="row text-center title">
                <h2>@Model.Content.ServiceTitle</h2>
                <h4 class="light muted">@Model.Content.ServiceSubTitle</h4>
            </div>
            <div class="row">
                @{
                    var service = Model.Content.Services.Fieldsets.Select(x => new
                    {
                        Title = x.GetValue("title"),
                        Desc = x.GetValue("description"),
                        Image = x.GetValue("image")
                    });
                    foreach (var item in service)
                    {
                        <div class="col-md-4">
                            <div class="service">
                                <div class="icon-holder">
                                    <img src="@item.Image" alt="@item.Title" class="icon" width="40">
                                </div>
                                <h4 class="heading">@item.Title</h4>
                                <p class="description">@item.Desc</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="cut cut-bottom"></div>
    </section>

    @{
        Html.RenderPartial("~/Views/Partials/Form/Form.cshtml", new WebSite.Models.OrderModel());
    }
    <footer id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center-mobile">
                </div>
                <div class="col-sm-6 text-center-mobile">
                    <h3 class="white">Время работы <span class="@(DateTime.Now.Hour > 9 && DateTime.Now.Hour < 18 ? "open-blink" : "close-blink")"></span></h3>
                    <div class="row opening-hours">
                        <div class="col-sm-6 text-center-mobile">
                            <h5 class="light-white light">Понедельник - Пятница</h5>
                            <h3 class="regular white">9:00 - 18:00</h3>
                        </div>
                        <div class="col-sm-6 text-center-mobile">
                            <h5 class="light-white light">Суббота - Воскресенье</h5>
                            <h3 class="regular white">10:00 - 18:00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bottom-footer text-center-mobile">
                <div class="col-sm-8">
                    <p>&copy; @DateTime.Now.Year Все права защищены</p>
                </div>

            </div>
        </div>
    </footer>
    <div id="footer">
        <div class="social">
            <a href="@Model.Content.LinkForInsta" target="_blank"><img src="img/insta.svg" align="left" alt="Люки невидимки в instagram"></a>
            <a href="@Model.Content.LinkForVK" target="_blank"><img src="img/vk.svg" align="left" alt="Люки невидимки вконтакте"></a>
        </div>
        <div class="contacts-phone">
            <a href="tel:@Model.Content.FooterPhone1.Replace(" ", "").Replace("(","").Replace(")","").Replace("+","")"><text class="white" style="margin-right: 30px;">@Model.Content.FooterPhone1</text></a>
            <a href="tel:@Model.Content.FooterPhone2.Replace(" ", "").Replace("(","").Replace(")","").Replace("+","")"><text class="white">@Model.Content.FooterPhone2</text></a>
        </div>

    </div>
    <!-- Holder for mobile navigation -->
    <div class="mobile-nav">
        <ul></ul>
        <a href="#" class="close-link"><i class="arrow_up"></i></a>
    </div>
    <!-- Scripts -->
    @Scripts.Render("~/bundles/scripts.js")
</body>
</html>
